.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #000100;
  border-bottom: 3px solid #2d3139;
  box-sizing: border-box;
  justify-content: end;
  padding: 10px;
}

.header-container h1 {
  color: white;
  margin-right: auto;
  margin-left: 10px;
  /* margin: 0 auto; */
}

.btn-logout {
  width: 5rem;
  height: 2rem;
  background-color: red;
  color: white;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
